In [5]:
import pandas as pd

data = pd.read_csv("employees.csv")
print(data)

data["Bonus"] = (data["salary"]/100)*20
print(data)

     EEID First Name Last Name  Age Gender  salary
0  EMP001      Aarav    Sharma   28      M   25000
1  EMP002      Sneha     Patel   25      F   45000
2  EMP003      Karan     Verma   32      M   30000
3  EMP004       Diya     Singh   24      F   25000
4  EMP005      Rohit     Mehta   29      M   30000
5  EMP006      Meera      Iyer   27      F   30000
6  EMP007     Ishaan     Reddy   30      M   30000
7  EMP008     Ananya    Kapoor   23      F   25000
8  EMP009     Vikram     Joshi   35      M   30000
9  EMP010      Tanya     Gupta   26      F   25000
     EEID First Name Last Name  Age Gender  salary   Bonus
0  EMP001      Aarav    Sharma   28      M   25000  5000.0
1  EMP002      Sneha     Patel   25      F   45000  9000.0
2  EMP003      Karan     Verma   32      M   30000  6000.0
3  EMP004       Diya     Singh   24      F   25000  5000.0
4  EMP005      Rohit     Mehta   29      M   30000  6000.0
5  EMP006      Meera      Iyer   27      F   30000  6000.0
6  EMP007     Ishaan     Reddy   30      M   30000  6000.0
7  EMP008     Ananya    Kapoor   23      F   25000  5000.0
8  EMP009     Vikram     Joshi   35      M   30000  6000.0
9  EMP010      Tanya     Gupta   26      F   25000  5000.0

In [10]:
data = {"Months":["January","february","March","April"]}

a = pd.DataFrame(data)
print(a)

def extract(value):
    return value[0:3]

a["Short_Months"] = a["Months"].map(extract)
print(a)

     Months
0   January
1  february
2     March
3     April
     Months Short_Months
0   January          Jan
1  february          feb
2     March          Mar
3     April          Apr