In [4]:
import pandas as pd

df = pd.read_excel("ESD.xlsx")
#print(data)
df.loc[(df["Bonus %"]==0),"Gets Bonus"]="no bonus"
df.loc[(df["Bonus %"]>0),"Gets Bonus"]="bonus"
print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date Gets Bonus
0     0.15  United States    Seattle 2021-10-16      bonus
1     0.00          China  Chongqing        NaT   no bonus
2     0.20  United States    Chicago        NaT      bonus
3     0.07  United States    Chicago        NaT      bonus
4     0.00  United States    Phoenix        NaT   no bonus
5     0.00          China  Chongqing        NaT   no bonus
6     0.10  United States    Phoenix        NaT      bonus
7     0.00  United States      Miami 2021-05-20   no bonus
8     0.06  United States     Austin        NaT      bonus
9     0.00  United States    Chicago        NaT   no bonus

In [5]:
df = pd.read_excel("ESD.xlsx")

In [6]:
data = {
    "EEID": ["EMP001", "EMP002", "EMP003", "EMP004", "EMP005", 
             "EMP006", "EMP007", "EMP008", "EMP009", "EMP010"],
    "First Name": ["Aarav", "Sneha", "Karan", "Diya", "Rohit", 
                   "Meera", "Ishaan", "Ananya", "Vikram", "Tanya"],
    "Last Name": ["Sharma", "Patel", "Verma", "Singh", "Mehta", 
                  "Iyer", "Reddy", "Kapoor", "Joshi", "Gupta"],
    "Age": [28, 25, 32, 24, 29, 27, 30, 23, 35, 26],
    "Gender": ["M", "F", "M", "F", "M", "F", "M", "F", "M", "F"]
}

df = pd.DataFrame(data)
print(df)
df.to_csv("employees.csv", index=False)

     EEID First Name Last Name  Age Gender
0  EMP001      Aarav    Sharma   28      M
1  EMP002      Sneha     Patel   25      F
2  EMP003      Karan     Verma   32      M
3  EMP004       Diya     Singh   24      F
4  EMP005      Rohit     Mehta   29      M
5  EMP006      Meera      Iyer   27      F
6  EMP007     Ishaan     Reddy   30      M
7  EMP008     Ananya    Kapoor   23      F
8  EMP009     Vikram     Joshi   35      M
9  EMP010      Tanya     Gupta   26      F

In [12]:
data = pd.read_csv("employees.csv")
print(data)

data["Full Name"]=data["First Name"] + " " + data["Last Name"]
print(data)

     EEID First Name Last Name  Age Gender
0  EMP001      Aarav    Sharma   28      M
1  EMP002      Sneha     Patel   25      F
2  EMP003      Karan     Verma   32      M
3  EMP004       Diya     Singh   24      F
4  EMP005      Rohit     Mehta   29      M
5  EMP006      Meera      Iyer   27      F
6  EMP007     Ishaan     Reddy   30      M
7  EMP008     Ananya    Kapoor   23      F
8  EMP009     Vikram     Joshi   35      M
9  EMP010      Tanya     Gupta   26      F
     EEID First Name Last Name  Age Gender      Full Name
0  EMP001      Aarav    Sharma   28      M   Aarav Sharma
1  EMP002      Sneha     Patel   25      F    Sneha Patel
2  EMP003      Karan     Verma   32      M    Karan Verma
3  EMP004       Diya     Singh   24      F     Diya Singh
4  EMP005      Rohit     Mehta   29      M    Rohit Mehta
5  EMP006      Meera      Iyer   27      F     Meera Iyer
6  EMP007     Ishaan     Reddy   30      M   Ishaan Reddy
7  EMP008     Ananya    Kapoor   23      F  Ananya Kapoor
8  EMP009     Vikram     Joshi   35      M   Vikram Joshi
9  EMP010      Tanya     Gupta   26      F    Tanya Gupta