In [3]:
import pandas as pd

data = {
    "Fruit": ["Apple", "Banana", "Orange", "Mango", "Pineapple", 
              "Grapes", "Watermelon", "Strawberry", "Papaya", "Kiwi"],
    "Price": [120, 50, 80, 100, 90, 70, 30, 150, 60, 200],
    "Quantity": [10, 25, 15, 20, 8, 12, 18, 6, 14, 5]
}

df1 = pd.DataFrame(data)
print(df1)

        Fruit  Price  Quantity
0       Apple    120        10
1      Banana     50        25
2      Orange     80        15
3       Mango    100        20
4   Pineapple     90         8
5      Grapes     70        12
6  Watermelon     30        18
7  Strawberry    150         6
8      Papaya     60        14
9        Kiwi    200         5

In [4]:
df2 = df1.copy()
print(df2)

        Fruit  Price  Quantity
0       Apple    120        10
1      Banana     50        25
2      Orange     80        15
3       Mango    100        20
4   Pineapple     90         8
5      Grapes     70        12
6  Watermelon     30        18
7  Strawberry    150         6
8      Papaya     60        14
9        Kiwi    200         5

In [9]:
df2.loc[0,"Price"]=100
df2.loc[1,"Price"]=120
df2.loc[3,"Price"]=120
df2.loc[0,"Quantity"]=12
df2.loc[1,"Quantity"]=10
df2.loc[3,"Quantity"]=80
print(df2)

        Fruit  Price  Quantity
0       Apple    100        12
1      Banana    120        10
2      Orange     80        15
3       Mango    120        80
4   Pineapple     90         8
5      Grapes     70        12
6  Watermelon     30        18
7  Strawberry    150         6
8      Papaya     60        14
9        Kiwi    200         5

In [11]:
print(df1.compare(df2,align_axis=0))

         Price  Quantity
0 self   120.0      10.0
  other  100.0      12.0
1 self    50.0      25.0
  other  120.0      10.0
3 self   100.0      20.0
  other  120.0      80.0

In [13]:
print(df1.compare(df2,keep_equal=True))
print(df1.compare(df2))

  Price       Quantity
   self other     self other
0   120   100       10    12
1    50   120       25    10
3   100   120       20    80
   Price        Quantity
    self  other     self other
0  120.0  100.0     10.0  12.0
1   50.0  120.0     25.0  10.0
3  100.0  120.0     20.0  80.0

In [15]:
print(df1.compare(df2,keep_shape=True))

  Fruit        Price        Quantity
   self other   self  other     self other
0   NaN   NaN  120.0  100.0     10.0  12.0
1   NaN   NaN   50.0  120.0     25.0  10.0
2   NaN   NaN    NaN    NaN      NaN   NaN
3   NaN   NaN  100.0  120.0     20.0  80.0
4   NaN   NaN    NaN    NaN      NaN   NaN
5   NaN   NaN    NaN    NaN      NaN   NaN
6   NaN   NaN    NaN    NaN      NaN   NaN
7   NaN   NaN    NaN    NaN      NaN   NaN
8   NaN   NaN    NaN    NaN      NaN   NaN
9   NaN   NaN    NaN    NaN      NaN   NaN