In [7]:
import pandas as pd

data1={"Emp Id":["E01","E02","E03","E04","E05","E06"],
      "Name":["Ram","Shyam","rahul","vishal","Ravi","Raj"],
      "age":[34,56,19,44,32,49]}

data2 = {"Emp Id":["E01","E07","E03","E04","E08","E06"],
        "Salary":[45000,56000,30000,50000,34000,62000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

  Emp Id    Name  age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   rahul   19
3    E04  vishal   44
4    E05    Ravi   32
5    E06     Raj   49

  Emp Id  Salary
0    E01   45000
1    E07   56000
2    E03   30000
3    E04   50000
4    E08   34000
5    E06   62000

In [10]:
print(pd.merge(left = df1,right =df2,on="Emp Id", how = "left"))

  Emp Id    Name  age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56      NaN
2    E03   rahul   19  30000.0
3    E04  vishal   44  50000.0
4    E05    Ravi   32      NaN
5    E06     Raj   49  62000.0

In [11]:
print(pd.merge(left = df1,right =df2,on="Emp Id", how = "right"))

  Emp Id    Name   age  Salary
0    E01     Ram  34.0   45000
1    E07     NaN   NaN   56000
2    E03   rahul  19.0   30000
3    E04  vishal  44.0   50000
4    E08     NaN   NaN   34000
5    E06     Raj  49.0   62000

In [15]:
import pandas as pd

data1={"Emp Id":["E01","E02","E03","E04","E05","E06"],
      "Name":["Ram","Shyam","rahul","vishal","Ravi","Raj"],
      "age":[34,56,19,44,32,49]}
data2={"Emp Id":["E07","E08","E09","E10","E11","E12"],
      "Name":["bittu","chintu","bunty","pappu","Raju","Aman"],
      "age":[34,56,19,44,32,49]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [16]:
print(pd.concat([df1,df2]))

  Emp Id    Name  age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   rahul   19
3    E04  vishal   44
4    E05    Ravi   32
5    E06     Raj   49
0    E07   bittu   34
1    E08  chintu   56
2    E09   bunty   19
3    E10   pappu   44
4    E11    Raju   32
5    E12    Aman   49